<!DOCTYPE html>
<html ng-app="Dovideo" ng-controller="MainCtrl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Dopicture</a>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h1><span class="glyphicon glyphicon-pencil"></span> Login <small>View recommended videos</small></h1>
          </div>
        </div>
      </div>
    </header>
    <section id="breadcrumb">
      <div class="container">
        <ol class="breadcrumb">
          <li class="active">Login</li>
        </ol>
      </div>
    </section>
    <section id="main">
      <div class="container">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading main-col-bg">
              <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
              <form ng-submit="submit()">
                <h2>Please login</h2>
                <label for="inputName" class="sr-only">Name</label>
                <input type="name" id="inputName" ng-model="inputName" class="form-control" placeholder="Name" required>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" ng-model="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" ng-model="inputPass" class="form-control" placeholder="Password" required>
                <br />
                <button class="btn btn-lg main-col-bg btn-block" type="submit">Sign in</button>
              </form>
              <br />
              <center><a href="/signup.html">Don't have an account? Signup here</a></center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>













    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js" charset="utf-8"></script>
    <script src="logout.js" charset="utf-8"></script>
  </body>
</html>
