/* Navbar */
.navbar{
  min-height: 33px !important;
  margin-bottom: 0;
  border-radius: 0;
}
.navbar-nav > li > a, .navbar-brand{
  padding-top: 6px !important;
  padding-bottom: 0 !important;
  height: 33px;
}


.navbar-default {
  background-color: #2da741;
  border-color: #259f4e;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #259f4e;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #259f4e;
}
.navbar-default .navbar-toggle {
  border-color: #259f4e;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #259f4e;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #259f4e;
  }
}
body{
  background-color: #f4f4f4
}
#header{
  background-color: #333333;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px
}
#header .create{
  padding-top: 20px
}
.breadcrumb{
  background-color: #cccccc;
  color: #333333;
}
.main-col-bg{
  background-color: #2da741 !important;
  border-color: #2da741 !important;
  color: #ffffff !important;
}
.img{
  width: 100%
}
